target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
src/main/java/com/picfood/server/repository/RestaurantRepository.java
src/main/java/com/picfood/server/entity/Restaurant.java
pom.xml

### YelpScraper
YelpScraper/node_modules/*
